$main-orange-light: #ff9617;
$main-orange-dark: #F08C14;

$main-gray-light: #DDDDDD;
$main-gray-lighter: #f0f0f0;
$main-gray-dark: #8C8C8C;

$main-purple-light: #5B507A;
$main-purple-dark: #533A7B;

$main-blue-light: #ADFCF9;
$main-blue-dark: #7EB8B6;

$light-pink: #EE9BBE;